In [1]:
#Importing necessary libraries-
import selenium
import pandas as pd
import time
import requests

FINAL DATA

In [2]:
M1=pd.read_csv('Manyavar_M1.csv')

In [3]:
M1

,Unnamed: 0,Brand,Category,Product_type,Product_Name,Product_code,Price
0,0,Vedant Fashions Ltd.,Men,Kurta Pajama,Rust Orange Printed Kurta Set,SOSK630-332,"₹ 3,499"
1,1,Vedant Fashions Ltd.,Men,Kurta Pajama,Flamingo Pink Chikankari Embroidered Kurta Set,SDES820-325,"₹ 4,999"
2,2,Vedant Fashions Ltd.,Men,Kurta Pajama,Teal Blue Chikankari Patterned Kurta Set,SDES820-326,"₹ 4,999"
3,3,Vedant Fashions Ltd.,Men,Kurta Pajama,Lime Green Chikankari Kurta Set,SDES784-334,"₹ 3,999"
4,4,Vedant Fashions Ltd.,Men,Kurta Pajama,Quartz Pink Mandala Printed Kurta Set,CPOSK666-325,"₹ 4,999"
...,...,...,...,...,...,...,...
145,145,Vedant Fashions Ltd.,Men,Kurta Pajama,Golden Jacquard Printed Kurta Set,SDES846-303,"₹ 2,999"
146,146,Vedant Fashions Ltd.,Men,Kurta Pajama,Antique White Angrakha Style Diamond Printed K...,KL12111-302,"₹ 3,499"
147,147,Vedant Fashions Ltd.,Men,Kurta Pajama,Soft Blue Medallion Print Kurta Set,CPOSK663-341,"₹ 4,999"
148,148,Vedant Fashions Ltd.,Men,Kurta Pajama,Ivory Cream Detailed Traditional South Indian ...,SOSK712-302,"₹ 4,999"
149,149,Vedant Fashions Ltd.,Men,Kurta Pajama,Maroon Self Patterned Kurta Set,SDES993-307,"₹ 2,499"

In [4]:
M2=pd.read_csv('Manyavar_M2.csv')

In [5]:
M2

,Unnamed: 0,Wear_type,Material_type,Reviews,color1,color2
0,0,Kurta Pajama,--------,674 people have viewed the product recently,--------,--------
1,1,Kurta Pajama,--------,674 people have viewed the product recently,--------,NaN
2,2,Kurta Pajama,NaN,674 people have viewed the product recently,NaN,NaN
3,3,Kurta Pajama,NaN,--------,NaN,NaN
4,4,Kurta Pajama,NaN,674 people have viewed the product recently,NaN,--------
...,...,...,...,...,...,...
145,145,Kurta Pajama,NaN,674 people have viewed the product recently,NaN,--------
146,146,Kurta Pajama,NaN,124 people have viewed the product recently,NaN,--------
147,147,Kurta Pajama,NaN,278 people have viewed the product recently,NaN,NaN
148,148,Kurta Pajama,--------,--------,--------,--------
149,149,Kurta Pajama,--------,--------,--------,NaN

In [6]:
M3=pd.read_csv('Manyavar_M3.csv')

In [7]:
M3

,Unnamed: 0,Country_of_origin,Return_time,Size1,Size2,Size3,Size4,Occassion
0,0,India,15.0,S,M,L,XL,Indo Western
1,1,India,15.0,S,M,L,XL,Indo Western
2,2,India,15.0,S,M,L,XL,Indo Western
3,3,--------,NaN,S,M,L,XL,Indo Western
4,4,India,15.0,S,M,L,XL,Indo Western
...,...,...,...,...,...,...,...,...
145,145,India,15.0,S,M,L,XL,Indo Western
146,146,India,15.0,S,M,L,XL,Indo Western
147,147,India,15.0,S,M,L,XL,Indo Western
148,148,--------,NaN,S,M,L,XL,Indo Western
149,149,--------,NaN,S,M,L,XL,Indo Western

In [8]:
W1=pd.read_csv('Biba_W1.csv')

In [9]:
W1

,Unnamed: 0,Sno,Brand,Category,Product_type,Product_Name,Product_code,Price
0,0,0,BIBA,Women,Kurta,LILAC POLYESTER STRAIGHT KURTA SET,2PCSSET2496SS24LILAC,"₹3,599"
1,1,1,BIBA,Women,Kurta,BLACK RAYON STRAIGHT KURTA SET,2PCSSET2416SS24BLK,"₹2,599"
2,2,2,BIBA,Women,Kurta,WHITE PINK RAYON GATHERED SUIT SET,SKDASSORTED7518SS24WHTPNK,"₹3,999"
3,3,3,BIBA,Women,Kurta,PEACH POLYESTER GATHERED SUIT SET,SKDIZNIK9391SS24PCH,"₹6,500"
4,4,4,BIBA,Women,Kurta,POWDER BLUE POLYESTER STRAIGHT SUIT SET,SKDRIVAYAT9537SS24PBLUE,"₹3,999"
...,...,...,...,...,...,...,...,...
295,295,195,BIBA,Women,Kurta,BLACK COTTON STRAIGHT KURTA PALAZZO SUIT SET,SKDDABU9028AW23BLK,"₹4,999"
296,296,196,BIBA,Women,Kurta,MEGANTA VISCOSE BROCADE ANARKALI KURTA FLARED ...,SKDTHEGOLD8966AW23MGT,"₹12,900"
297,297,197,BIBA,Women,Kurta,CHARCOAL COTTON ANARKALI PRINTED KURTA RELAXED...,SKDIKATSTO8991AW23CHAR,"₹5,995"
298,298,198,BIBA,Women,Kurta,FUCHSIA POLY COTTON STRAIGHT KURTA PANT SUIT SET,SKDASRTD8907AW23FUS,"₹3,999"
299,299,199,BIBA,Women,Kurta,ROHIT BAL IVORY COTTON SILK STRAIGHT PRINTED S...,CKD9490AW23IVRY,"₹12,950"

In [10]:
W2=pd.read_csv('Biba_W2.csv')

In [11]:
W2

,Unnamed: 0,Sno,Wear_type,Material_type,Reviews,color1,color2
0,0,0,"Kurta, Pant, Dupatta",NaN,"When it comes to ethnic wear for women, the on...",Brick Red,--------
1,1,1,"Kurta, Palazzo, Stole",--------,"When it comes to ethnic wear for women, the on...",Blush Pink,Powder Blue
2,2,2,"Kurta, Palazzo, Dupatta",--------,"When it comes to ethnic wear for women, the on...",Light Green,--------
3,3,3,"Kurta, Pant, Dupatta",NaN,"When it comes to ethnic wear for women, the on...",Brick Red,--------
4,4,4,"Kurta, Pant, Dupatta",NaN,"When it comes to ethnic wear for women, the on...",Brick Red,--------
...,...,...,...,...,...,...,...
295,295,195,"Kurta, Palazzo",NaN,"When it comes to ethnic wear for women, the on...",Green,--------
296,296,196,"Kurta, Palazzo",NaN,"When it comes to ethnic wear for women, the on...",Purple,--------
297,297,197,"Kurta, Inner, Palazzo",NaN,"When it comes to ethnic wear for women, the on...",Yellow,--------
298,298,198,NaN,NaN,"When it comes to ethnic wear for women, the on...",Indigo,--------
299,299,199,"Kurta, Palazzo",NaN,"When it comes to ethnic wear for women, the on...",Black,--------

In [12]:
W3=pd.read_csv('Biba_W3.csv')

In [13]:
W3

,Unnamed: 0,Sno,Country_of_origin,Return_time,Size1,Size2,Size3,Size4,Occassion
0,0,0,NaN,15,32,34,36,38,Festive
1,1,1,NaN,15,32,34,36,38,Festive
2,2,2,NaN,15,32,34,36,38,Festive
3,3,3,NaN,15,32,34,36,38,Festive
4,4,4,NaN,15,32,34,36,38,Festive
...,...,...,...,...,...,...,...,...,...
295,295,195,India,15,32,34,36,38,Festive
296,296,196,India,15,32,34,36,38,Festive
297,297,197,India,15,32,34,36,38,Festive
298,298,198,India,15,32,34,36,38,Festive
299,299,199,India,15,32,34,36,38,Festive

In [14]:
K1=pd.read_csv('Kids_1.csv')

In [15]:
K1

,Unnamed: 0,Brand,Category,Product_type,Product_Name,Product_code,Price
0,0,Pantaloons,KIDS,Dresses,Medium Blue Printed Rayon Shirt Collar Girls F...,NaN,₹ 1749
1,1,Pantaloons,KIDS,Dresses,White Printed Rayon Round Neck Girls Flared Dr...,NaN,--------
2,2,Pantaloons,KIDS,Dresses,Pink Embroidered Cotton Round Neck Girls Flare...,NaN,₹ 1749
3,3,Pantaloons,KIDS,Dresses,Aqua Printed Cotton Shoulder Straps Girls Flar...,NaN,₹ 1699
4,4,Pantaloons,KIDS,Dresses,Navy Printed Cotton Satin Round Neck Girls Fla...,NaN,₹ 1499
...,...,...,...,...,...,...,...
95,95,Pantaloons,KIDS,Dresses,Yellow Print Casual Full Sleeves Round Neck Ba...,NaN,₹ 1299
96,96,Pantaloons,KIDS,Dresses,Green Print Casual Sleeveless Baby Regular Fit...,NaN,₹ 1299
97,97,Pantaloons,KIDS,Dresses,Yellow Print Casual Full Sleeves Round Neck Ba...,NaN,₹ 1299
98,98,Pantaloons,KIDS,Dresses,Navy Print Casual Full Sleeves Round Neck Baby...,NaN,₹ 1249
99,99,Pantaloons,KIDS,Dresses,Light Green Print Casual Half Sleeves Baby Reg...,NaN,₹ 1299

In [16]:
K2=pd.read_csv('Kids_2.csv')

In [17]:
K2

,Unnamed: 0,Wear_type,Material_type,Reviews,color1,color2
0,0,Dresses,Rayon,Be the first one to rate!,Medium Blue,NaN
1,1,Dresses,Rayon,Be the first one to rate!,White,NaN
2,2,Dresses,Cotton,Be the first one to rate!,Pink,NaN
3,3,Dresses,Cotton,Be the first one to rate!,Aqua,NaN
4,4,Dresses,Cotton,Be the first one to rate!,Navy,NaN
...,...,...,...,...,...,...
95,95,Dresses,Cotton,Be the first one to rate!,Yellow,NaN
96,96,Dresses,Cotton,Be the first one to rate!,Green,NaN
97,97,Dresses,Cotton,Be the first one to rate!,Yellow,NaN
98,98,Dresses,Cotton,Be the first one to rate!,Navy,NaN
99,99,Dresses,Cotton,Be the first one to rate!,Light Green,NaN

In [18]:
K3=pd.read_csv('Kids_3.csv')

In [19]:
K3

,Unnamed: 0,Country_of_origin,Return_time,Size1,Size2,Size3,Size4,Occassion
0,0,India,30,2-3Y,3-4Y,4-5Y,5-6Y,Western wear
1,1,India,30,8-9Y,9-10Y,11-12Y,13-14Y,Western wear
2,2,India,30,2-3Y,3-4Y,4-5Y,5-6Y,--------
3,3,India,30,1-2Y,2-3Y,3-4Y,4-5Y,Western wear
4,4,India,30,2-3Y,3-4Y,4-5Y,5-6Y,Western wear
...,...,...,...,...,...,...,...,...
95,95,India,30,3-6 M,6-9 M,9-12 M,12-18 M,Western wear
96,96,India,30,3-6 M,6-9 M,9-12 M,12-18 M,Western wear
97,97,India,30,3-6 M,6-9 M,9-12 M,12-18 M,Western wear
98,98,India,30,3-6 M,6-9 M,9-12 M,12-18 M,Western wear
99,99,India,30,3-6 M,6-9 M,9-12 M,12-18 M,Western wear

In [20]:
K4=pd.read_csv('Kids_B1.csv')

In [21]:
K4

,Unnamed: 0,Sno,Brand,Category,Product_type,Product_Name,Product_code,Price
0,0,0,Intune,Boys,T-Shirt,Printed Cotton Polo Boys T-Shirt,S24K-JBTSHN134_MULTI,299
1,1,1,Intune,Boys,T-Shirt,Printed Cotton Polo Boys T-Shirt,S24K-JBTSHN122_MULTI,299
2,2,2,Intune,Boys,T-Shirt,Printed Cotton Polo Boys T-Shirt,S24K-JBTSHN129_MULTI,299
3,3,3,Intune,Boys,T-Shirt,Car Graphic Print Cotton Round Neck Boys T-Shirt,A23K-JBTSHK022_NAVY,199
4,4,4,Life,Boys,T-Shirt Fit,Solid Cotton Regular Fit Boys Track Pants,S24711BTRCK01_BLACK,399
5,5,5,Infuse,Boys,T-Shirt,Solid Cotton Regular Fit Boys Shorts,A21INFBJNS43A_MID_STONE,399
6,6,6,Stop,Boys,T-Shirt,Printed Character Cotton Round Neck Boys T-Shirt,A23710BMARTEE03_YELLOW,399
7,7,7,Life,Boys,T-Shirt,Checks Cotton Collar Neck Boys Shirts,A22711BSHT02_ORANGE,399
8,8,8,Pipin,Boys,T-Shirt,Printed Cotton Polo Boy's T-Shirt,B13113DBLUE_NAVY_BLUE,399
9,9,9,Intune,Boys,T-Shirt,A Day at the Beach Cotton T-shirt for Boys,S23K-JBTSHK041_WHITE,199
10,10,10,Pipin,Boys,T-Shirt,Printed Cotton Round Neck Boy's T-Shirt,B14027DY_YELLOW,399
11,11,11,Stop,Boys,T-Shirt,Solid Cotton Collar Neck Boy's Shirt,S23710BSHIRT14_LILAC,399
12,12,12,Stop,Boys,T-Shirt,Solid Denim Regular Fit Boys Jeans,A23710BJNS11_INDIGO,399
13,13,13,Life,Boys,T-Shirt,Tie And Dye Cotton Regular Fit Boy's Shorts,S23711BKSHRT12_GREEN,399
14,14,14,Intune,Boys,T-Shirt,Printed Cotton Polo Boys T-Shirt,S24K-JBTSHN125_BLUE,299
15,15,15,Intune,Boys,T-Shirt,Dino Graphic Print Cotton Round Neck Boys T-Shirt,A23K-JBTSHK004_WHITE,199
16,16,16,Life,Boys,Zipper,Solid Denim Regular Fit Boys Shorts,S22711SHRT002_MID_STONE,399
17,17,17,Stop,Boys,T-Shirt,Tie And Dye Cotton Round Neck Boy's T-Shirt,S23710BTEE054_GREEN,399
18,18,18,Stop,Boys,Full Sleeves,Checks Cotton Collar Neck Boys Shirt,A23710BSHIRT18_NAVY,399
19,19,19,Stop,Boys,T-Shirt,Stripes Cotton Collar Neck Boy's Shirt,S23710BSHIRT24_WHITE,399
20,20,20,Stop,Boys,T-Shirt,Solid Cotton Regular Fit Boy's Shorts,CORE710SHRT02_YELLOW,399
21,21,21,Life,Boys,--------,Printed Cotton Regular Fit Boys Track Pants,A23711BTRACK09_OLIVE,399
22,22,22,Intune,Boys,T-Shirt,Graphic Print Cotton Round Neck Boys T-Shirt,S24K-SBTSHK248_WHITE,199
23,23,23,Stop,Boys,T-Shirt,Solid Denim Regular Fit Boys Jeans,A23710BJNS04_MID_STONE,399
24,24,24,Stop,Boys,T-Shirt,Solid Cotton Regular Fit Boy's Shorts,S23710BWSHRT03_COBALT,399
25,25,25,Life,Boys,T-Shirt,Printed Cotton Collar Neck Boys Shirt,A22711BSHT20_BLUE,399
26,26,26,Intune,Boys,T-Shirt,Printed Cotton Polo Boys T-Shirt,S24K-JBTSHN128_WHITE,299
27,27,27,Life,Boys,T-Shirt,Solid Cotton Collar Neck Boy's Shirt,S23711BSHIRT11_PEACH,399
28,28,28,Stop,Boys,T-Shirt,Stripes Cotton Round Neck Boy's T-Shirt,S23710BTEE033_GREEN,399
29,29,29,Arrow Sport,Boys,T-Shirt,Solid Cotton Collar Neck Boys Shirt,A23711BSHIRT10_MID_STONE,399
30,30,0,Stop,Boys,Button,Solid Cotton Regular Fit Boy's Shorts,S23710BWSHRT06_BLACK,399
31,31,1,Life,Boys,Shorts,Solid Cotton Regular Fit Boy's Shorts,S23711BKSHRT04_BLACK,299
32,32,2,Crimsoune Club,Boys,Track Pants,Solid Cotton Regular Fit Boys Track pants,S23CSBW220282BR_BROWN,719
33,33,3,Intune,--------,Casual Wear,Printed Rayon Collared Boys Shirt,S24K-JBSHIN214_MULTI,--------
34,34,4,Stop,Boys,Shorts,Solid Cotton Collar Neck Boy's T-Shirt,S23710BPTEE02_ORANGE,239
35,35,5,Stop,Boys,Shirt,Color Block Cotton Collar Neck Boys Shirt,A23710BSHIRT01_NAVY,449
36,36,6,Stop,Boys,Shorts,Cotton Regular Fit Boy's Shorts,S23710BDSHRT06_STONE,319
37,37,7,Stop,Boys,T-Shirt,Solid Poly Cotton Round Neck Boy's T-Shirt,S23711BTEE026_GREEN,199
38,38,8,Life,Boys,Denim,Solid Denim Regular Fit Boys Jeans,A22711BJNS07_MID_STONE,449
39,39,9,Stop,Boys,T-Shirt,Printed Cotton Round Neck Boys T-Shirt,A23710BTEE36_YELLOW,199
40,40,10,Stop,Boys,--------,Color Block Cotton Regular Fit Boys Track Pants,A23710BTRACK02_NAVY,349
41,41,11,Stop,Boys,T-Shirt,Printed Cotton Round Neck Boys T-Shirt,A23710BTEE33_WHITE,199
42,42,12,Stop,Boys,Zipper,Solid Denim Regular Fit Boys Jeans,A23710BJNS07_TINT,524
43,43,13,Life,Boys,Denim,Solid Denim Regular Fit Boy's Shorts,S23711BDSHRT02_MID_STONE,399
44,44,14,Stop,Boys,Hip Length,Printed Cotton Boys Briefs,FS01BBRF01_ASSORTED,104
45,45,15,Life,Boys,Shorts,Solid Cotton Regular Fit Boy's Shorts,S23711BKSHRT02_RED,239
46,46,16,Intune,--------,T-Shirt,Printed Cotton Polo Boys T-Shirt,S24K-JBTSHN133_GREEN,--------
47,47,17,Life,Boys,Shorts,Solid Cotton Regular Fit Boy's Shorts,S23711BKSHRT08_BLACK,279
48,48,18,Stop,Boys,Shorts,Solid Cotton Collar Neck Boy's Shirt,S23710BSHIRT12_YELLOW,359
49,49,19,Stop,Boys,T-Shirt,Printed Character Cotton Round Neck Boys T-Shirt,A23710BMARTEE10_NAVY,299
50,50,20,Life,Boys,--------,Checks Cotton Collar Neck Boys Shirt,A22711BSHT04_GREEN,269
51,51,21,Stop,Boys,T-Shirt,Printed Cotton Round Neck Boys T-Shirt,A23710BTEE38_ORANGE,249
52,52,22,Life,Boys,T-Shirt,Printed Character Cotton Round Neck Boys T-Shirt,A23711BMARTEE16_RED,349
53,53,23,Stop,Boys,T-Shirt,Solid Poly Cotton Round Neck Boy's T-Shirt,S23710BTEE048_BLUE,199
54,54,24,Stop,Boys,Kurta,Embroidered PST Mandarin Boys Kurta Pyjama Jac...,AW22740KP020_MAROON,749
55,55,25,Stop,Boys,Shorts,Stripes Cotton Collar Neck Boys Shirt,A23710BSHIRT35_NAVY,399
56,56,26,Stop,Boys,Shorts,Cotton Regular Fit Boy's Shorts,S23710BDSHRT04_INDIGO,399
57,57,27,Life,Boys,Shorts,Solid Poly Cotton Regular Fit Boy's Shorts,S23711BKSHRT01_ECRU,239
58,58,28,Stop,Boys,T-Shirt,Printed Cotton Round Neck Boys T-Shirt,A22710BTEE059_BLUE,149
59,59,29,Infuse,Boys,Shorts,Solid Cotton Slim Fit Boys Jeans,INFBJNRSS100A_BLACK,449

In [22]:
K5=pd.read_csv('Kids_B2.csv')

In [23]:
K5

,Unnamed: 0,Sno,Wear_type,Material_type,Reviews,color1,color2
0,0,0,T-Shirt,100% Cotton,Rating & Review (0),Multi,NaN
1,1,1,T-Shirt,100% Cotton,Rating & Review (0),Multi,NaN
2,2,2,T-Shirt,100% Cotton,Rating & Review (0),Multi,NaN
3,3,3,T-Shirt,100% Cotton,Rating & Review (0),Blue,NaN
4,4,4,T-Shirt Fit,100% Cotton,View available services for your pincode\nStan...,Solid,NaN
5,5,5,T-Shirt,Distress,View available services for your pincode\nStan...,Regular Fit,NaN
6,6,6,T-Shirt,Polyster,View available services for your pincode\nStan...,--------,NaN
7,7,7,T-Shirt,Polyster,View available services for your pincode\nStan...,Yellow,NaN
8,8,8,T-Shirt,Polyster,View available services for your pincode\nStan...,--------,NaN
9,9,9,T-Shirt,1 T-Shirt,Rating & Review (0),Yellow,NaN
10,10,10,T-Shirt,Polyster,View available services for your pincode\n5000...,--------,NaN
11,11,11,T-Shirt,Polyster,View available services for your pincode\nStan...,--------,NaN
12,12,12,T-Shirt,Dark Wash,View available services for your pincode\nStan...,Solid,NaN
13,13,13,T-Shirt,Polyster,View available services for your pincode\n5000...,Red,NaN
14,14,14,T-Shirt,100% Cotton,Rating & Review (0),Multi,NaN
15,15,15,T-Shirt,100% Cotton,Rating & Review (0),Blue,NaN
16,16,16,Zipper,Mid Wash,View available services for your pincode\nStan...,Solid,NaN
17,17,17,T-Shirt,Polyster,View available services for your pincode\nStan...,--------,NaN
18,18,18,Full Sleeves,Polyster,View available services for your pincode\nStan...,--------,NaN
19,19,19,T-Shirt,Polyster,View available services for your pincode\nStan...,--------,NaN
20,20,20,T-Shirt,Polyster,View available services for your pincode\nStan...,Red,NaN
21,21,21,--------,Polyster,View available services for your pincode\nStan...,--------,NaN
22,22,22,T-Shirt,100% Cotton,Rating & Review (0),Blue,NaN
23,23,23,T-Shirt,Mid Wash,View available services for your pincode\nStan...,Solid,NaN
24,24,24,T-Shirt,Polyster,View available services for your pincode\nStan...,Red,NaN
25,25,25,T-Shirt,Polyster,View available services for your pincode\nStan...,--------,NaN
26,26,26,T-Shirt,100% Cotton,Rating & Review (0),Multi,NaN
27,27,27,T-Shirt,Polyster,View available services for your pincode\n5000...,Yellow,NaN
28,28,28,T-Shirt,Polyster,View available services for your pincode\nStan...,--------,NaN
29,29,29,T-Shirt,1,View available services for your pincode\nStan...,--------,NaN
30,30,0,T-Shirt,Nylon,View available services for your pincode\nStan...,Red,NaN
31,31,1,T-Shirt,Nylon,View available services for your pincode\nStan...,Red,NaN
32,32,2,Solid,Nylon,View available services for your pincode\nStan...,Blue,NaN
33,33,3,Printed,100% Rayon,Rating & Review (0),Rayon,NaN
34,34,4,Collared,Nylon,View available services for your pincode\nStan...,Blue,NaN
35,35,5,--------,Nylon,View available services for your pincode\nStan...,Blue,NaN
36,36,6,Shorts,Cotton,View available services for your pincode\nStan...,Red,NaN
37,37,7,T-Shirt,Nylon,View available services for your pincode\nStan...,Blue,NaN
38,38,8,Zipper,Cotton,View available services for your pincode\n5000...,Black,NaN
39,39,9,T-Shirt,Nylon,View available services for your pincode\nStan...,Blue,NaN
40,40,10,--------,Nylon,View available services for your pincode\nStan...,Blue,NaN
41,41,11,T-Shirt,Nylon,View available services for your pincode\nStan...,Blue,NaN
42,42,12,T-Shirt,Cotton,View available services for your pincode\nStan...,Solid,NaN
43,43,13,T-Shirt,Cotton,View available services for your pincode\nStan...,Blue,NaN
44,44,14,--------,Casual Wear,View available services for your pincode\nStan...,Blue,NaN
45,45,15,T-Shirt,Nylon,View available services for your pincode\nStan...,Red,NaN
46,46,16,T-Shirt,100% Cotton,Rating & Review (0),Multi,NaN
47,47,17,T-Shirt,Nylon,View available services for your pincode\nStan...,Red,NaN
48,48,18,Collared,Nylon,View available services for your pincode\nStan...,Blue,NaN
49,49,19,T-Shirt,Nylon,View available services for your pincode\nStan...,Blue,NaN
50,50,20,--------,Nylon,View available services for your pincode\n5600...,Blue,NaN
51,51,21,T-Shirt,Nylon,View available services for your pincode\nStan...,Blue,NaN
52,52,22,T-Shirt,Nylon,View available services for your pincode\nStan...,Blue,NaN
53,53,23,Sleeveless,Nylon,View available services for your pincode\nStan...,Blue,NaN
54,54,24,Embroidered,Nylon,View available services for your pincode\nStan...,Blue,NaN
55,55,25,T-Shirt,Nylon,View available services for your pincode\nStan...,Blue,NaN
56,56,26,Shorts,Cotton,View available services for your pincode\nStan...,Red,NaN
57,57,27,T-Shirt,Nylon,View available services for your pincode\nStan...,Red,NaN
58,58,28,T-Shirt,Nylon,View available services for your pincode\nStan...,Blue,NaN
59,59,29,Shorts,Distress,Rating & Review (0),Black,NaN

In [24]:
K6=pd.read_csv('Kids_B3.csv')

In [25]:
K6

,Unnamed: 0,Sno,Country_of_origin,Return_time,Size1,Size2,Size3,Size4,Occassion
0,0,0,India,14.0,1-2 Y,2-3 Y,3-4 Y,5-6 Y,Casual Wear
1,1,1,India,14.0,1-2 Y,2-3 Y,3-4 Y,5-6 Y,Casual Wear
2,2,2,India,14.0,1-2 Y,2-3 Y,3-4 Y,5-6 Y,Casual Wear
3,3,3,India,14.0,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
4,4,4,India,14.0,11-12 Y,13-14 Y,15-16 Y,8-9 Y,1
5,5,5,India,NaN,11-12 Y,13-14 Y,2-3 Y,3-4 Y,1
6,6,6,1,14.0,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
7,7,7,India,NaN,11-12 Y,13-14 Y,15-16 Y,9-10 Y,Checks
8,8,8,India,14.0,11-12 Y,2-3 Y,3-4 Y,5-6 Y,Casual Wear
9,9,9,India,14.0,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Graphic Print
10,10,10,India,14.0,10-11 YEARS,12-13 Y,14-15 Y,16-17Y,Casual Wear
11,11,11,India,NaN,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
12,12,12,India,14.0,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
13,13,13,India,NaN,11-12 Y,13-14 Y,15-16 Y,9-10 Y,Casual Wear
14,14,14,India,14.0,1-2 Y,2-3 Y,3-4 Y,5-6 Y,Casual Wear
15,15,15,India,14.0,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
16,16,16,India,NaN,11-12 Y,13-14 Y,8-9 Y,9-10 Y,Shorts
17,17,17,India,NaN,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
18,18,18,India,14.0,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
19,19,19,India,14.0,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
20,20,20,India,NaN,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
21,21,21,1,14.0,11-12 Y,13-14 Y,15-16 Y,8-9 Y,Printed
22,22,22,India,14.0,11-12 Y,13-14 Y,9-10 Y,--------,Casual Wear
23,23,23,India,14.0,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
24,24,24,India,NaN,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
25,25,25,India,NaN,11-12 Y,13-14 Y,15-16 Y,9-10 Y,Casual Wear
26,26,26,India,14.0,1-2 Y,2-3 Y,3-4 Y,5-6 Y,Casual Wear
27,27,27,India,14.0,11-12 Y,13-14 Y,15-16 Y,9-10 Y,Solid
28,28,28,India,NaN,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
29,29,29,India,14.0,11-12 Y,13-14 Y,15-16 Y,8-9 Y,Casual Wear
30,30,0,India,NaN,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
31,31,1,India,NaN,11-12 Y,13-14 Y,15-16 Y,9-10 Y,Casual Wear
32,32,2,India,14.0,11-12 YEARS,13-14 Y,15-16 Y,5-6 Y,Casual Wear
33,33,3,India,14.0,1-2 Y,2-3 Y,3-4 Y,5-6 Y,Casual Wear
34,34,4,India,NaN,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
35,35,5,India,14.0,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
36,36,6,India,NaN,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
37,37,7,India,NaN,11-12 Y,13-14 Y,15-16 Y,9-10 Y,Casual Wear
38,38,8,India,NaN,11-12 Y,13-14 Y,15-16 Y,9-10 Y,Casual Wear
39,39,9,India,14.0,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
40,40,10,India,14.0,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Color Block
41,41,11,India,14.0,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
42,42,12,India,14.0,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
43,43,13,India,NaN,11-12 Y,13-14 Y,15-16 Y,9-10 Y,Casual Wear
44,44,14,India,NaN,2-3Y,3-4Y,5-6Y,7-8Y,Knitted
45,45,15,India,NaN,11-12 Y,13-14 Y,15-16 Y,9-10 Y,Casual Wear
46,46,16,India,14.0,1-2 Y,2-3 Y,3-4 Y,5-6 Y,Casual Wear
47,47,17,India,NaN,11-12 Y,13-14 Y,15-16 Y,9-10 Y,Casual Wear
48,48,18,India,NaN,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Shirts
49,49,19,India,14.0,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
50,50,20,--------,NaN,11-12 Y,13-14 Y,15-16 Y,9-10 Y,--------
51,51,21,India,14.0,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
52,52,22,India,14.0,11-12 Y,13-14 Y,15-16 Y,8-9 Y,Casual Wear
53,53,23,India,NaN,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
54,54,24,India,NaN,11-12 YEARS,2-3 YR,3-4 YR,5-6 YR,Full Sleeves
55,55,25,India,14.0,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Shirts
56,56,26,India,NaN,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
57,57,27,India,NaN,11-12 Y,13-14 Y,15-16 Y,9-10 Y,Casual Wear
58,58,28,India,NaN,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
59,59,29,India,NaN,2-3 Y,3-4 Y,5-6 Y,7-8 Y,1

In [54]:
Table_1=pd.concat([M1, W1, K1,K4], ignore_index=True)

In [56]:
Table_1.rename_axis('Sno',inplace=True, index=True)

In [57]:
Table_1.drop(columns=['Unnamed: 0','Sno'], axis=1, inplace=True)

In [58]:
Table_1

,Brand,Category,Product_type,Product_Name,Product_code,Price
Sno,,,,,,
0,Vedant Fashions Ltd.,Men,Kurta Pajama,Rust Orange Printed Kurta Set,SOSK630-332,"₹ 3,499"
1,Vedant Fashions Ltd.,Men,Kurta Pajama,Flamingo Pink Chikankari Embroidered Kurta Set,SDES820-325,"₹ 4,999"
2,Vedant Fashions Ltd.,Men,Kurta Pajama,Teal Blue Chikankari Patterned Kurta Set,SDES820-326,"₹ 4,999"
3,Vedant Fashions Ltd.,Men,Kurta Pajama,Lime Green Chikankari Kurta Set,SDES784-334,"₹ 3,999"
4,Vedant Fashions Ltd.,Men,Kurta Pajama,Quartz Pink Mandala Printed Kurta Set,CPOSK666-325,"₹ 4,999"
...,...,...,...,...,...,...
605,Stop,Boys,Shorts,Stripes Cotton Collar Neck Boys Shirt,A23710BSHIRT35_NAVY,399
606,Stop,Boys,Shorts,Cotton Regular Fit Boy's Shorts,S23710BDSHRT04_INDIGO,399
607,Life,Boys,Shorts,Solid Poly Cotton Regular Fit Boy's Shorts,S23711BKSHRT01_ECRU,239
608,Stop,Boys,T-Shirt,Printed Cotton Round Neck Boys T-Shirt,A22710BTEE059_BLUE,149
609,Infuse,Boys,Shorts,Solid Cotton Slim Fit Boys Jeans,INFBJNRSS100A_BLACK,449

In [46]:
Table_2=pd.concat([M2, W2, K2,K5], ignore_index=True)

In [47]:
Table_2.rename_axis('Sno',inplace=True, index=True)

In [49]:
Table_2.drop(columns=['Unnamed: 0','Sno'], axis=1, inplace=True)

In [50]:
Table_2

,Wear_type,Material_type,Reviews,color1,color2
Sno,,,,,
0,Kurta Pajama,--------,674 people have viewed the product recently,--------,--------
1,Kurta Pajama,--------,674 people have viewed the product recently,--------,NaN
2,Kurta Pajama,NaN,674 people have viewed the product recently,NaN,NaN
3,Kurta Pajama,NaN,--------,NaN,NaN
4,Kurta Pajama,NaN,674 people have viewed the product recently,NaN,--------
...,...,...,...,...,...
605,T-Shirt,Nylon,View available services for your pincode\nStan...,Blue,NaN
606,Shorts,Cotton,View available services for your pincode\nStan...,Red,NaN
607,T-Shirt,Nylon,View available services for your pincode\nStan...,Red,NaN
608,T-Shirt,Nylon,View available services for your pincode\nStan...,Blue,NaN
609,Shorts,Distress,Rating & Review (0),Black,NaN

In [59]:
Table_3=pd.concat([M3, W3, K3,K6], ignore_index=True)

In [60]:
Table_3.rename_axis('Sno',inplace=True, index=True)

In [61]:
Table_3.drop(columns=['Unnamed: 0','Sno'], axis=1, inplace=True)

In [62]:
Table_3

,Country_of_origin,Return_time,Size1,Size2,Size3,Size4,Occassion
Sno,,,,,,,
0,India,15.0,S,M,L,XL,Indo Western
1,India,15.0,S,M,L,XL,Indo Western
2,India,15.0,S,M,L,XL,Indo Western
3,--------,NaN,S,M,L,XL,Indo Western
4,India,15.0,S,M,L,XL,Indo Western
...,...,...,...,...,...,...,...
605,India,14.0,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Shirts
606,India,NaN,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
607,India,NaN,11-12 Y,13-14 Y,15-16 Y,9-10 Y,Casual Wear
608,India,NaN,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
609,India,NaN,2-3 Y,3-4 Y,5-6 Y,7-8 Y,1

In [63]:
Table_1.to_csv('Table_1.csv', index=True)

In [64]:
Table_2.to_csv('Table_2.csv', index=True)

In [65]:
Table_3.to_csv('Table_3.csv', index=True)

In [66]:
clothing_b = pd.concat([Table_1, Table_2, Table_3], axis=1)

In [67]:
clothing_b

,Brand,Category,Product_type,Product_Name,Product_code,Price,Wear_type,Material_type,Reviews,color1,color2,Country_of_origin,Return_time,Size1,Size2,Size3,Size4,Occassion
Sno,,,,,,,,,,,,,,,,,,
0,Vedant Fashions Ltd.,Men,Kurta Pajama,Rust Orange Printed Kurta Set,SOSK630-332,"₹ 3,499",Kurta Pajama,--------,674 people have viewed the product recently,--------,--------,India,15.0,S,M,L,XL,Indo Western
1,Vedant Fashions Ltd.,Men,Kurta Pajama,Flamingo Pink Chikankari Embroidered Kurta Set,SDES820-325,"₹ 4,999",Kurta Pajama,--------,674 people have viewed the product recently,--------,NaN,India,15.0,S,M,L,XL,Indo Western
2,Vedant Fashions Ltd.,Men,Kurta Pajama,Teal Blue Chikankari Patterned Kurta Set,SDES820-326,"₹ 4,999",Kurta Pajama,NaN,674 people have viewed the product recently,NaN,NaN,India,15.0,S,M,L,XL,Indo Western
3,Vedant Fashions Ltd.,Men,Kurta Pajama,Lime Green Chikankari Kurta Set,SDES784-334,"₹ 3,999",Kurta Pajama,NaN,--------,NaN,NaN,--------,NaN,S,M,L,XL,Indo Western
4,Vedant Fashions Ltd.,Men,Kurta Pajama,Quartz Pink Mandala Printed Kurta Set,CPOSK666-325,"₹ 4,999",Kurta Pajama,NaN,674 people have viewed the product recently,NaN,--------,India,15.0,S,M,L,XL,Indo Western
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,Stop,Boys,Shorts,Stripes Cotton Collar Neck Boys Shirt,A23710BSHIRT35_NAVY,399,T-Shirt,Nylon,View available services for your pincode\nStan...,Blue,NaN,India,14.0,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Shirts
606,Stop,Boys,Shorts,Cotton Regular Fit Boy's Shorts,S23710BDSHRT04_INDIGO,399,Shorts,Cotton,View available services for your pincode\nStan...,Red,NaN,India,NaN,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
607,Life,Boys,Shorts,Solid Poly Cotton Regular Fit Boy's Shorts,S23711BKSHRT01_ECRU,239,T-Shirt,Nylon,View available services for your pincode\nStan...,Red,NaN,India,NaN,11-12 Y,13-14 Y,15-16 Y,9-10 Y,Casual Wear
608,Stop,Boys,T-Shirt,Printed Cotton Round Neck Boys T-Shirt,A22710BTEE059_BLUE,149,T-Shirt,Nylon,View available services for your pincode\nStan...,Blue,NaN,India,NaN,2-3 Y,3-4 Y,5-6 Y,7-8 Y,Casual Wear
609,Infuse,Boys,Shorts,Solid Cotton Slim Fit Boys Jeans,INFBJNRSS100A_BLACK,449,Shorts,Distress,Rating & Review (0),Black,NaN,India,NaN,2-3 Y,3-4 Y,5-6 Y,7-8 Y,1

In [68]:
clothing_b.to_csv('clothing_b.csv', index=True)