In [22]:
#Importing necessary libraries-
import selenium
import pandas as pd
import time
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException, InvalidElementStateException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import os
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
import chromedriver_autoinstaller

import warnings
warnings.filterwarnings('ignore')

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get("https://www.biba.in/")

In [4]:
#Searching for women's apparel
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div/div[1]/div/div[2]/div/div/div[1]/div/div/div/div/figure/a/picture/img')
search.click()

In [5]:
# Fetching product URL first
product_url=[]
start=0
end=1

for page in range(start,end):
    urls=driver.find_elements(By.XPATH,'//div[@class="product-tile carousel slide plp-product-carousel-area"]/div/a[1]')
    for url in urls:
        product_url.append(url.get_attribute('href'))
        print("Appended URL:", url.get_attribute('href'))
    print("Finished processing")

Appended URL: https://www.biba.in/lilac-polyester-straight-kurta-set/2PCSSET2496SS24LILAC.html
Appended URL: https://www.biba.in/black-rayon-straight-kurta-set/2PCSSET2416SS24BLK.html
Appended URL: https://www.biba.in/white-pink-rayon-gathered-suit-set/SKDASSORTED7518SS24WHTPNK.html
Appended URL: https://www.biba.in/peach-polyester-gathered-suit-set/SKDIZNIK9391SS24PCH.html
Appended URL: https://www.biba.in/powder-blue-polyester-straight-suit-set/SKDRIVAYAT9537SS24PBLUE.html
Appended URL: https://www.biba.in/coral-rayon-gathered-suit-set/SKDSMERBREZ8940SS24CRL.html
Appended URL: https://www.biba.in/pink-cotton-anarkali-suit-set/SKDSANGANER9555SS24PNK.html
Appended URL: https://www.biba.in/off-white-polyester-a-line-suit-set/SKDSANGANER9558SS24OWHT.html
Appended URL: https://www.biba.in/off-white-cotton-anarkali-suit-set/SKDSMERBREZ9409SS24OWHT.html
Appended URL: https://www.biba.in/pink-cotton-asymmetric-suit-set/SKDSAWERA9598SS24PNK.html
Appended URL: https://www.biba.in/coral-cotton-anarkali-suit-set/SKD9605SS24CRL.html
Appended URL: https://www.biba.in/indigo-cambric-straight-suit-set/SKDASSORTED7473SS24IND.html
Appended URL: https://www.biba.in/orange-cotton-straight-suit-set/SKDRABARI9297SS24ORG.html
Appended URL: https://www.biba.in/cream-cotton-straight-suit-set/SKDINDIEBOHO9454SS24CRM.html
Appended URL: https://www.biba.in/yellow-rayon-straight-kurta-palazzo-suit-set/SKD7451EAW23YEL.html
Appended URL: https://www.biba.in/fuschia-cotton-straight-suit-set/SKDINDIEBOHO9454SS24FUS.html
Appended URL: https://www.biba.in/powder-blue-cotton-anarkali-suit-set/SKDSHWETSAGA9455SS24PBLUE.html
Appended URL: https://www.biba.in/blue-cotton-straight-printed-kurta-palazzo-suit-set/SKDASSORTED9723AW23BLU.html
Appended URL: https://www.biba.in/red-nylon-anarkali-kurta-churidar-suit-set/SKD7458EAW23RED.html
Appended URL: https://www.biba.in/brick-red-polyester-straight-suit-set/SKDRIVAYAT9685SS24BRICKRED.html
Appended URL: https://www.biba.in/powder-blue-rayon-a-line-suit-set/SKDASSORTED9682SS24PBLUE.html
Appended URL: https://www.biba.in/light-green-polyester-straight-suit-set/SKDASSORTED9636SS24LTGRN.html
Appended URL: https://www.biba.in/mustard-polyester-straight-suit-set/SKDRIVAYAT9538SS24MUST.html
Appended URL: https://www.biba.in/green-cotton-anarkali-suit-set/SKDASSORTED9174SS24GRN.html
Appended URL: https://www.biba.in/berry-pink-rayon-straight-suit-set/SKDVINTGETALES9270SS24BERYPNK.html
Appended URL: https://www.biba.in/green-polyester-kalidar-suit-set/SKD9577SS24GRN.html
Appended URL: https://www.biba.in/blue-cotton-straight-suit-set/SKDFSINFRST9792SS24BLU.html
Appended URL: https://www.biba.in/blue-black-polyester-straight-suit-set/SKDASSORTED9424SS24BLK.html
Appended URL: https://www.biba.in/mango-yellow-viscose-straight-suit-set/SKDASSORTED9122SS24MNGOYEL.html
Appended URL: https://www.biba.in/blue-cotton-a-line-suit-set/SKDIKRANG9510SS24BLU.html
Appended URL: https://www.biba.in/yellow-nylon-narrow-kurta-pant-suit-set/SKD7455EAW23YEL.html
Appended URL: https://www.biba.in/blue-polyester-straight-suit-set/SKDRIVAYAT9576SS24BLU.html
Appended URL: https://www.biba.in/off-white-blue-cotton-straight-suit-set/SKD9473SS24OWHTBLU.html
Appended URL: https://www.biba.in/off-white-polyester-straight-suit-set/SKDBLACKWHITE9428SS24OWHT.html
Appended URL: https://www.biba.in/white-red-cotton-straight-suit-set/SKDAMBER9674SS24WHTRED.html
Appended URL: https://www.biba.in/powder-blue-cotton-anarkali-suit-set/SKDSANGANER9555SS24PBLUE.html
Appended URL: https://www.biba.in/pink-cotton-anarkali-suit-set/SKDAMBER9534SS24PNK.html
Appended URL: https://www.biba.in/green-rayon-flax-straight-kurta-palazzo-suit-set/SKD7460EAW23GRN.html
Appended URL: https://www.biba.in/pink-nylon-narrow-kurta-pant-suit-set/SKD7455EAW23PNK.html
Appended URL: https://www.biba.in/aqua-cotton-straight-suit-set/SKDSAWERA9597SS24AQUA.html
Appended URL: https://www.biba.in/yellow-rayon-flax-asymmetric-kurta-palazzo-suit-set/SKD7426EAW23YEL.html
Appended URL: https://www.biba.in/lime-green-rayon-flax-relaxed-kurta-palazzo-suit-set/SKD7446EAW23LIMGRN.html
Appended URL: https://www.biba.in/turquoise-rayon-flax-relaxed-kurta-palazzo-suit-set/SKD7446EAW23TURQ.html
Appended URL: https://www.biba.in/green-cotton-flax-straight-kurta-palazzo-suit-set/SKD7430EAW23GRN.html
Appended URL: https://www.biba.in/blue-cotton-blend-anarkali-kurta-churidar-suit-set/SKD7459EAW23BLU.html
Appended URL: https://www.biba.in/turquoise-rayon-straight-suit-set/SKDASSORTED9709SS24TURQ.html
Appended URL: https://www.biba.in/ice-blue-rayon-straight-suit-set/SKD9678SS24ICEBLU.html
Appended URL: https://www.biba.in/white-grey-rayon-straight-kurta-set/2PCSSET2421SS24WHTGRY.html
Appended URL: https://www.biba.in/blush-pink-rayon-a-line-suit-set/SKDASSORTED9682SS24BLSHPNK.html
Appended URL: https://www.biba.in/cream-polyester-anarkali-suit-set/SKDJRDINTRPICS9395SS24CRM.html
Appended URL: https://www.biba.in/navy-cotton-gathered-suit-set/SKDDELIGHT8055SS24NVY.html
Appended URL: https://www.biba.in/off-white-polyester-blend-straight-suit-set/SKDRIVAYAT9575SS24OWHT.html
Appended URL: https://www.biba.in/fuschia-rayon-straight-suit-set/SKDRIVAYAT9536SS24FUS.html
Appended URL: https://www.biba.in/yellow-rayon-straight-suit-set/SKD9677SS24YEL.html
Appended URL: https://www.biba.in/off-white-polyester-straight-kurta-set/2PCSSET2494SS24OWHT.html
Appended URL: https://www.biba.in/beige-rayon-asymmetric-suit-set/SKDAZTEC9367SS24BEG.html
Appended URL: https://www.biba.in/dark-green-voile-anarkali-kurta-pant-suit-set/SKDCHARMING7480EAW23DGRN.html
Appended URL: https://www.biba.in/indigo-polyester-anarkali-suit-set/SKD8953SS24IND.html
Appended URL: https://www.biba.in/blush-pink-polyester-straight-suit-set/SKDRIVAYAT9537SS24BLSHPNK.html
Appended URL: https://www.biba.in/red-polyester-straight-suit-set/SKD9604SS24RED.html
Appended URL: https://www.biba.in/yellow-rayon-straight-kurta-set/RIBAYAT2346SS24YEL.html
Appended URL: https://www.biba.in/fuschia-pink-viscose-straight-kurta-set/SNGNRPTCHWRK2370SS24FUSPNK.html
Appended URL: https://www.biba.in/pink-cotton-straight-kurta-set/WORKWEAR2316SS24PNK.html
Appended URL: https://www.biba.in/pink-rayon-straight-suit-set/SKD9678SS24PNK.html
Appended URL: https://www.biba.in/red-polyester-straight-suit-set/SKDGULZAR9376SS24RED.html
Appended URL: https://www.biba.in/coral-cotton-anarkali-suit-set/SKDASSORTED9174SS24CRL.html
Appended URL: https://www.biba.in/blue-cotton-blend-straight-suit-set/SKD9704SS24BLU.html
Appended URL: https://www.biba.in/white-blue-cotton-straight-suit-set/SKDAMBER9674SS24WHTBLU.html
Appended URL: https://www.biba.in/fuschia-cotton-a-line-suit-set/SKDIKRANG9510SS24FUS.html
Appended URL: https://www.biba.in/blue-cotton-a-line-suit-set/SKDSANGANER9563SS24BLU.html
Appended URL: https://www.biba.in/violet-rayon-flax-narrow-kurta-pant-suit-set/SKD7463EAW23VIOLET.html
Appended URL: https://www.biba.in/pink-cotton-flax-narrow-kurta-pant-suit-set/SKD7429EAW23PNK.html
Appended URL: https://www.biba.in/green-cambric-straight-kurta-palazzo-suit-set/SKDASSORTED7208EAW23GRN.html
Appended URL: https://www.biba.in/mustard-cambric-anarkali-kurta-churidar-suit-set/SKD7459EAW23MUST.html
Appended URL: https://www.biba.in/off-white-cotton-anarkali-suit-set/SKDSAWERA9597SS24WHT.html
Appended URL: https://www.biba.in/pink-cotton-straight-suit-set/SKDSMERBREZ9411SS24PNK.html
Appended URL: https://www.biba.in/red-rayon-straight-suit-set/SKDRIVAYAT9574SS24RED.html
Appended URL: https://www.biba.in/electric-blue-rayon-straight-kurta-set/WORKWEAR2300SS24ELCBLU.html
Appended URL: https://www.biba.in/off-white-red-cotton-anarkali-suit-set/SKDVINTGETALES9269SS24OWHTRD.html
Appended URL: https://www.biba.in/grey-cotton-gathered-suit-set/SKDJRDINTRPICS9398SS24GREY.html
Appended URL: https://www.biba.in/off-white-blue-cotton-straight-suit-set/SKDAMBER9673SS24OWHTBLU.html
Appended URL: https://www.biba.in/coral-pink-rayon-straight-suit-set/SKD9677SS24CRLPNK.html
Appended URL: https://www.biba.in/indigo-cotton-anarkali-suit-set/SKD9605SS24IND.html
Appended URL: https://www.biba.in/deep-red-cambric-relaxed-kurta-palazzo-suit-set/SKDSKD7028EAW23DRED.html
Appended URL: https://www.biba.in/teal-rayon-straight-suit-set/SKDKIAARA9445SS24TEAL.html
Appended URL: https://www.biba.in/violet-jersey-anarkali-kurta-churidar-suit-set/SKD7458EAW23VIOLET.html
Appended URL: https://www.biba.in/beige-rayon-straight-suit-set/SKDASSORTED9709SS24BEG.html
Appended URL: https://www.biba.in/red-polyester-kalidar-suit-set/SKDJWLEDCHARM8990SS24RED.html
Appended URL: https://www.biba.in/off-white-cotton-gathered-suit-set/SKDBLACKWHITE9429SS24OWHT.html
Appended URL: https://www.biba.in/turquoise-rayon-gathered-suit-set/SKDASSORTED7518SS24TURQ.html
Appended URL: https://www.biba.in/indigo-cotton-straight-suit-set/SKDCRFTDHYMS9505SS24IND.html
Appended URL: https://www.biba.in/off-white-polyester-straight-suit-set/SKDJRDINTRPICS9397SS24OWHT.html
Appended URL: https://www.biba.in/red-rayon-straight-kurta-palazzo-suit-set/SKD7451EAW23RED.html
Appended URL: https://www.biba.in/indigo-rayon-gathered-suit-set/SKDIKRANG9511SS24IND.html
Appended URL: https://www.biba.in/teal-rayon-straight-suit-set/SKDRIVAYAT9536SS24TEAL.html
Appended URL: https://www.biba.in/pink-purple-rayon-straight-kurta-palazzo-suit-set/SKD7451EAW23PNKPUR.html
Appended URL: https://www.biba.in/pink-polyester-a-line-suit-set/SKDIKRANG9551SS24PNK.html
Appended URL: https://www.biba.in/yellow-cambric-flared-kurta-pant-suit-set/SKDSKD8078EAW23YEL.html
Appended URL: https://www.biba.in/off-white-cotton-anarkali-suit-set/SKDSMERBREZ9410SS24OWHT.html
Appended URL: https://www.biba.in/mango-polyester-straight-suit-set/SKD9604SS24MANG.html
Appended URL: https://www.biba.in/blue-viscose-straight-kurta-set/SNGNRPTCHWRK2370SS24BLU.html
Appended URL: https://www.biba.in/white-blue-cotton-asymmetric-suit-set/SKDASSORTED2802SS24WHTBLU.html
Appended URL: https://www.biba.in/pink-purple-rayon-flax-narrow-kurta-pant-suit-set/SKD7463EAW23PNKPUR.html
Appended URL: https://www.biba.in/black-viscose-straight-kurta-set/JAMAWAR2347SS24BLK.html
Appended URL: https://www.biba.in/fuschia-rayon-straight-suit-set/SKDKIAARA9445SS24FUS.html
Appended URL: https://www.biba.in/pink-rayon-straight-suit-set/SKDIKRANG9509SS24PNK.html
Appended URL: https://www.biba.in/aqua-rayon-straight-suit-set/SKDIKRANG9509SS24AQUA.html
Appended URL: https://www.biba.in/off-white-cotton-anarkali-suit-set/SKDSHWETSA8635SS24OWHT.html
Appended URL: https://www.biba.in/red-rayon-gathered-suit-set/SKDRIVAYAT9539SS24RED.html
Appended URL: https://www.biba.in/burgandy-liva-gathered-solid-kurta-slim-pant-suit-set/SKDCHARMING8178AW23BUR.html
Appended URL: https://www.biba.in/black-liva-short-kurta-skirt-suit-set/3PCSSE2206AW23BLK.html
Appended URL: https://www.biba.in/lime-green-rayon-straight-embroidery-kurta-slim-pant-suit-set/SKD9149AW23LIMGRN.html
Appended URL: https://www.biba.in/peacock-green-polyester-anarkali-kurta-churidar-suit-set/SKDPASN9075AW23PCKGRN.html
Appended URL: https://www.biba.in/blue-cotton-anarkali-kurta-palazzo-suit-set/SKDSNJH9196AW23BLU.html
Appended URL: https://www.biba.in/rohit-bal-light-pink-cotton-silk-anarkali-printed-suit-set/CKD9441AW23LTPNK.html
Appended URL: https://www.biba.in/powder-blue-polyester-straight-kurta-salwar-suit-set/SKDJWLD8608AW23PWRBLU.html
Appended URL: https://www.biba.in/black-cotton-anarkali-kurta-churidar-suit-set/SKD7836AW23BLK.html
Appended URL: https://www.biba.in/dusky-pink-polyester-front-open-kurta-lehenga-set/SKD6463AW23DSKYPNK.html
Appended URL: https://www.biba.in/rohit-bal-off-white-cotton-silk-straight-printed-suit-set/CKD9345AW23OWHT.html
Appended URL: https://www.biba.in/lime-green-liva-gathered-kurta-ankle-length-suit-set/SKDASRTD8910AW23LIMGRN.html
Appended URL: https://www.biba.in/charcoal-and-navy-cotton-gathered-kurta-palazzo-suit-set/SKDDABU9025AW23CHRCLNVY.html
Appended URL: https://www.biba.in/olive-green-liva-straight-printed-2-piece-set/AWADHCH2111AW23OLVGRN.html
Appended URL: https://www.biba.in/rohit-bal-off-white-silk-and-cotton-straight-kurta-suit-set/CKD8115SS23OWHT.html
Appended URL: https://www.biba.in/deep-fuchsia-polyester-straight-kurta-garara-suit-set/SKDASRTD9067AW23FUS.html
Appended URL: https://www.biba.in/aqua-cotton-asymmetric-kurta-churidar-suit-set/SKDSKD2802SS22AQU.html
Appended URL: https://www.biba.in/power-pink-cotton-blend-straight-kurta-salwar-suit-set/SKDKRN8468SS23POWRPNK.html
Appended URL: https://www.biba.in/sage-green-cotton-anarkali-kurta-palazzo-suit-set/SKDASRTD8946AW23SAGEGRN.html
Appended URL: https://www.biba.in/dusky-pink-flared-kurta-lehenga-suit-set/SKD6463SS22DSKYPNK.html
Appended URL: https://www.biba.in/black-rayon-gathered-kurta-palazzo-suit-set/SKDASRTD7518SS23BLK.html
Appended URL: https://www.biba.in/onion-pink-cotton-silk-straight-kurta-palazzo-suit-set/SKDCHIKANKA7220SS22ONIONPNK.html
Appended URL: https://www.biba.in/fuschia-and-lime-green-cotton-blend-lehenga-set/SKDBANDHANI8680SS23FUSLGR.html
Appended URL: https://www.biba.in/earthy-peach-cotton-blend-straight-kurta-palazzo-suit-set/SKDCHIKANKA8149AW22EARTHYPCH.html
Appended URL: https://www.biba.in/pink-cotton-gathered-kurta-pants-suit-set/SKDPHULWARI8459SS23PNK.html
Appended URL: https://www.biba.in/blue-polyester-asymmetric-kurta-palazzo-suit-set/SKDARBNA9051AW23BLU.html
Appended URL: https://www.biba.in/turquoise-silk-straight-kurta-salwar-suit-set/SKDKINARI8565SS23TURQ.html
Appended URL: https://www.biba.in/white-and-blue-cotton-anarkali-kurta-churidar-suit-set/SKDASSORTED2802AW22WHTBLU.html
Appended URL: https://www.biba.in/onion-pink-cotton-anarkali-kurta-churidar-suit-set/SKDASRTD8847AW23ONIPNK.html
Appended URL: https://www.biba.in/black-cotton-straight-kurta-palazzo-suit-set/SKDCHIKANKA8156AW22BLK.html
Appended URL: https://www.biba.in/yellow-cotton-blend-straight-kurta-slim-pants-suit-set/SKDCHIKANKA8152AW22YEL.html
Appended URL: https://www.biba.in/khaki-cotton-straight-kurta-pants-suit-set/SKDASRTD7473SS23KHAKI.html
Appended URL: https://www.biba.in/orange-cotton-blend-straight-kurta-palazzo-suit-set/SKDPHULKARI8481SS23ORG.html
Appended URL: https://www.biba.in/blue-polyester-straight-kurta-skirt-suit-set/SKDASRTD8297AW23BLU.html
Appended URL: https://www.biba.in/sky-blue-cotton-blend-layered-kurta-salwar-suit-set/SKDGULNAAZ8670SS23SKYBLU.html
Appended URL: https://www.biba.in/sea-green-poly-viscose-a-line-kurta-palazzo-suit-set/SKD8000AW22SEAGRN.html
Appended URL: https://www.biba.in/teal-liva-gathered-kurta-palazzo-suit-set/SKDASRTD8911AW23TEAL.html
Appended URL: https://www.biba.in/mango-cotton-blend-straight-kurta-palazzo-suit-set/SKDKRN8467SS23MAN.html
Appended URL: https://www.biba.in/earthy-blue-cotton-silk-straight-kurta-palazzo-suit-set/SKDMARODI8988AW23ERTHYBLU.html
Appended URL: https://www.biba.in/sea-green-cotton-straight-kurta-garara-suit-set/SKDROSEBOW8643SS23SEAGRN.html
Appended URL: https://www.biba.in/coral-cotton-blend-layered-kurta-churidar-suit-set/SKDKINARI8614SS23CRL.html
Appended URL: https://www.biba.in/dark-green-cotton-straight-kurta-palazzo-suit-set/SKDINDTO8960AW23DGRN.html
Appended URL: https://www.biba.in/beige-polyester-straight-kurta-palazzo-suit-set/SKDLNERC8894AW23BEG.html
Appended URL: https://www.biba.in/beige-cotton-blend-straight-kurta-palazzo-suit-set/SKDPHULKARI8481SS23BEG.html
Appended URL: https://www.biba.in/sap-green-cotton-straight-kurta-slim-pants-suit-set/SKDGLSTA8951AW23SAPGRN.html
Appended URL: https://www.biba.in/red-and-off-white-cotton-blend-straight-kurta-suit-set/SKDKINARI8613SS23REDOWHT.html
Appended URL: https://www.biba.in/aqua-cotton-gathered-kurta-palazzo-suit-set/SKDPHULWARI8666SS23AQU.html
Appended URL: https://www.biba.in/off-white-cotton-anarkali-kurta-churidar-suit-set/SKDSHWETSA8635SS23OWHT.html
Appended URL: https://www.biba.in/blue-cambric-kalidar-printed-kurta-palazzo-suit-set/SKDASRTD7476EAW23BLU.html
Appended URL: https://www.biba.in/pink-poly-cotton-straight-kurta-lehenga-set/SKDASRTD9129AW23PNK.html
Appended URL: https://www.biba.in/blush-pink-cotton-blend-straight-yarndyed-kurta-palazzo-suit-set/SKDBNRSI8851AW23BLSHPNK.html
Appended URL: https://www.biba.in/off-white-poly-cotton-straight-kurta-garara-suit-set/SKDGLDMUR9144AW23OWHT.html
Appended URL: https://www.biba.in/rohit-bal-off-white-cotton-silk-anarkali-embroidered-suit-set/CKD9439AW23OWHT.html
Appended URL: https://www.biba.in/yellow-cotton-silk-gathered-kurta-palazzo-suit-set/SKDKNRI8874AW23YEL.html
Appended URL: https://www.biba.in/indigo-cotton-straight-printed-kurta-sharara-suit-set/SKDDABU9027AW23IND.html
Appended URL: https://www.biba.in/fuchsia-poly-cotton-straight-kurta-sharara-suit-set/SKDASRTD9095AW23FUS.html
Appended URL: https://www.biba.in/mustard-cotton-anarkali-kurta-lehenga-set/SKDPASN8912AW23MUST.html
Appended URL: https://www.biba.in/pink-polyester-short-kurta-printed-suit-set/3PCSSE2207AW23PNK.html
Appended URL: https://www.biba.in/black-poly-viscose-straight-printed-2-piece-set/JMWAR2120AW23BLK.html
Appended URL: https://www.biba.in/berry-polyester-straight-printed-2-piece-set/WHIMSICA2121AW23BERY.html
Appended URL: https://www.biba.in/sage-green-rayon-gathered-kurta-palazzo-suit-set/SKDASRTD7518SS23SAGEGRN.html
Appended URL: https://www.biba.in/onion-pink-and-mustard-liva-kalidar-kurta-churi-salwar-suit-set/SKDSVN8877AW23ONIPNKMST.html
Appended URL: https://www.biba.in/black-cotton-anarkali-kurta-palazzo-suit-set/SKDASRTD8827AW23BLK.html
Appended URL: https://www.biba.in/chocolate-brown-cotton-blend-lehenga-set/SKDASRTD8199SS23CHOBRN.html
Appended URL: https://www.biba.in/beige-liva-printed-2-piece-set/JMWAR2124AW23BEG.html
Appended URL: https://www.biba.in/white-cotton-anarkali-kurta-narrow-palazzo-suit-set/SKDASRTD9042AW23WHT.html
Appended URL: https://www.biba.in/off-white-cotton-blend-lehenga-set/SKDROSEBOW8586SS23OWHT.html
Appended URL: https://www.biba.in/black-polyester-gathered-kurta-garara-suit-set/SKDASRTD9066AW23BLK.html
Appended URL: https://www.biba.in/navy-blue-cotton-blend-straight-kurta-churidar-suit-set/SKDKANTHAK8160SS23NYBLU.html
Appended URL: https://www.biba.in/light-blue-cotton-straight-kurta-garara-suit-set/SKDUMANG8444SS23LBLU.html
Appended URL: https://www.biba.in/beige-poly-cotton-layered-kurta-salwar-suit-set/SKDLNERC8892AW23BEG.html
Appended URL: https://www.biba.in/berry-poly-viscose-straight-printed-2-piece-set/WORKWEA2102AW23BERY.html
Appended URL: https://www.biba.in/yellow-cotton-anarkali-kurta-palazzo-suit-set/SKDASRTD8946AW23YEL.html
Appended URL: https://www.biba.in/white-pink-cotton-anarkali-printed-kurta-churidar-suit-set/SKD7771AW23WHTPNK.html
Appended URL: https://www.biba.in/mustard-natural-doby-straight-yarndyed-2-piece-set/WRKWR2090AW23MUSTNAT.html
Appended URL: https://www.biba.in/off-white-polyester-straight-printed-2-piece-set/FSTVE2208AW23OWHT.html
Appended URL: https://www.biba.in/rohit-bal-black-cotton-silk-anarkali-printed-suit-set/CKD9488AW23BLK.html
Appended URL: https://www.biba.in/blue-poly-cotton-anarkali-kurta-palazzo-suit-set/SKDASRTD9305AW23BLU.html
Appended URL: https://www.biba.in/rohit-bal-beige-cotton-silk-anarkali-printed-suit-set/CKD9441AW23BEG.html
Appended URL: https://www.biba.in/pink-viscose-straight-kurta-slim-pant-suit-set/SKDSTRA8979AW23PNK.html
Appended URL: https://www.biba.in/sage-green-liva-straight-kurta-palazzo-suit-set/SKDCHINTZ9097AW23SAGEGRN.html
Appended URL: https://www.biba.in/mustard-liva-straight-solid-2-piece-set/AWADHCOLL2110AW23MUST.html
Appended URL: https://www.biba.in/red-polyester-anarkali-kurta-palazzo-suit-set/SKDPASN9077AW23RED.html
Appended URL: https://www.biba.in/rohit-bal-navy-cotton-silk-anarkali-printed-suit-set/CKD9489AW23NVY.html
Appended URL: https://www.biba.in/carbon-black-liva-straight-printed-suit-set/WRKWR2134AW23CRBNBLK.html
Appended URL: https://www.biba.in/black-poly-dupion-printed-2-piece-set/SKIRTSE2188AW23BLK.html
Appended URL: https://www.biba.in/green-liva-straight-kurta-palazzo-suit-set/SKDASRTD8826AW23GRN.html

In [6]:
len(product_url)

348

In [7]:
#Extracting first 100 records for Women
for url in product_url[0:101]:
    driver.get(url)
    time.sleep(3)
    

Brandname=[]
Category=[]
Producttype=[]
ProductName=[]
Productcode=[]
Price=[]
Weartype=[]
Materialtype=[]
Returntime=[]
reviews=[]
Countryoforigin=[]
reviews=[]
Occasion=[]
color1=[]
color2=[]
Size1=[]
Size2=[]
Size3=[]
Size4=[]

In [8]:
for url in product_url[0:100]:
    driver.get(url)
    time.sleep(2)
    
    
    try:
        Brand_name=driver.find_element(By.XPATH,"/html/body/div[1]/footer/div[1]/div[1]/div[3]/div/div/h2")
        Brandname.append(Brand_name.text)
    except NoSuchElementException:
        Brandname.append('--------')
   
    try:
        Cat=driver.find_element(By.XPATH,"/html/body/div[1]/footer/div[1]/div[1]/div[1]/div/ul/li[3]/a")
        Category.append(Cat.text)
    except NoSuchElementException:
        Category.append('--------')
        

    try:
        Product_type=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[9]/div/div/div/div/div[1]/div[2]/div/div/ul/li[1]/span")
        Producttype.append(Product_type.text)
    except NoSuchElementException:
        Producttype.append('--------')
        
    try:
        Product_Name=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[1]/div/h1")
        ProductName.append(Product_Name.text)
    except NoSuchElementException:
        ProductName.append("--------")
        
    try:
        button=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[9]/div/div/div/div/h2[4]")
        button.click()
        Product_code=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[9]/div/div/div/div/div[4]/div/ul/li[1]/span")
        Productcode.append(Product_code.text)
    except NoSuchElementException:
        Productcode.append("--------")
        
    try:
        Price_u=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[2]/div/div/div/div/span/span")
        Price.append(Price_u.text)
    except NoSuchElementException:
        Price.append("--------")

In [9]:
len(Brandname), len(Category), len(Producttype), len(ProductName), len(Productcode), len(Price)

(100, 100, 100, 100, 100, 100)

In [113]:
for url in product_url[0:100]:
    driver.get(url)
    time.sleep(2)
    

    try:
        button=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[9]/div/div/div/div/h2[4]")
        button.click()
        Wear_type=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[9]/div/div/div/div/div[4]/div/ul/li[6]/span")
        Weartype.append(Wear_type.text)
    except NoSuchElementException:
        Weartype.append('--------')
   
    try:
        Material_type=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[9]/div/div/div/div/div[1]/div[2]/div/div/ul/li[7]/span")
        Materialtype.append(Material_type.text)
    except NoSuchElementException:
        Materialtype.append('--------')
        
    try:
        Reviews=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div[2]/div/p")
        reviews.append(Reviews.text)
    except NoSuchElementException:
        reviews.append('--------')
        
    try:
        button=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[9]/div/div/div/div/h2[4]")
        button.click()
        Countryof_origin=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[9]/div/div/div/div/div[4]/div/ul/li[5]/span")
        Countryoforigin.append(Countryof_origin.text)
    except NoSuchElementException:
        Countryoforigin.append("--------")
        
    try:
        Return_time=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[8]/div/div/ul/li[2]/h3")
        Returntime.append(Return_time.text)
    except NoSuchElementException:
        Returntime.append("--------")
        
    try:
        color_1=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[3]/div[2]/div/div/div/a[1]/span[2]")
        color1.append(color_1.text)
    except NoSuchElementException:
        color1.append('--------')
        
    try:
        color_2=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[3]/div[2]/div/div/div/a[2]/span[2]")
        color2.append(color_2.text)
    except NoSuchElementException:
        color2.append("--------")
        
    try:
        Size_1=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[3]/div[3]/div/div/div/div[2]/div/div/a[1]")
        Size1.append(Size_1.text)
    except NoSuchElementException:
        Size1.append("--------")
   
    try:
        Size_2=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[3]/div[3]/div/div/div/div[2]/div/div/a[3]")
        Size2.append(Size_2.text)
    except NoSuchElementException:
        Size2.append("--------")
        
    try:
        Size_3=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[3]/div[3]/div/div/div/div[2]/div/div/a[5]")
        Size3.append(Size_3.text)
    except NoSuchElementException:
        Size3.append("--------")
        
    try:
        Size_4=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[3]/div[3]/div/div/div/div[2]/div/div/a[7]")
        Size4.append(Size_4.text)
    except NoSuchElementException:
        Size4.append("--------")
        
    try:
        occasion=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[8]/div/div/ul/li[3]/h3")
        Occasion.append(occasion.text)
    except NoSuchElementException:
        Occasion.append("--------")

In [114]:
len(Weartype), len(Materialtype), len(reviews), len(Countryoforigin), len(Returntime), len(color1), len(color2), len(Size1), len(Size2), len(Size3), len(Size4), len(Occasion)

(100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100)

In [10]:
data = {
    'Brand': Brandname,
    'Category': Category,
    'Product_type': Producttype,
    'Product_Name': ProductName,
    'Product_code': Productcode,
    'Price': Price
    }

In [11]:
df = pd.DataFrame(data)

In [12]:
df.rename_axis('Sno',inplace=True)

In [13]:
df['Category'] = df['Category'].str.replace('Biba Girls', 'Women', regex=True)

In [14]:
df['Brand'] = df['Brand'].str.replace('BIBA BRAND', 'BIBA', regex=True)

In [15]:
df.to_csv('List.csv', index=True)

In [16]:
df.head()

,Brand,Category,Product_type,Product_Name,Product_code,Price
Sno,,,,,,
0,BIBA,Women,Kurta,LILAC POLYESTER STRAIGHT KURTA SET,2PCSSET2496SS24LILAC,"₹3,599"
1,BIBA,Women,Kurta,BLACK RAYON STRAIGHT KURTA SET,2PCSSET2416SS24BLK,"₹2,599"
2,BIBA,Women,Kurta,WHITE PINK RAYON GATHERED SUIT SET,SKDASSORTED7518SS24WHTPNK,"₹3,999"
3,BIBA,Women,Kurta,PEACH POLYESTER GATHERED SUIT SET,SKDIZNIK9391SS24PCH,"₹6,500"
4,BIBA,Women,Kurta,POWDER BLUE POLYESTER STRAIGHT SUIT SET,SKDRIVAYAT9537SS24PBLUE,"₹3,999"

In [184]:
data1 = {
    'Wear_type': Weartype,
    'Material_type': Materialtype,
    'Reviews': reviews,
    'color1': color1,
    'color2': color2
     }

In [185]:
df1 = pd.DataFrame(data1)

In [187]:
df1.rename_axis('Sno',inplace=True)

In [188]:
df1.to_csv('List1.csv', index=True)

In [189]:
df1.head()

,Wear_type,Material_type,Reviews,color1,color2
Sno,,,,,
0,"Kurta, Pant, Dupatta",,"When it comes to ethnic wear for women, the on...",Brick Red,--------
1,"Kurta, Palazzo, Stole",--------,"When it comes to ethnic wear for women, the on...",Blush Pink,Powder Blue
2,"Kurta, Palazzo, Dupatta",--------,"When it comes to ethnic wear for women, the on...",Light Green,--------
3,"Kurta, Pant, Dupatta",,"When it comes to ethnic wear for women, the on...",Brick Red,--------
4,"Kurta, Pant, Dupatta",,"When it comes to ethnic wear for women, the on...",Brick Red,--------

In [120]:
data2= {
    'Country_of_origin':Countryoforigin,
    'Return_time':Returntime,
    'Size1':Size1,
    'Size2':Size2,
    'Size3':Size3,
    'Size4':Size4,
    'Occassion':Occasion
    }

In [121]:
df2 = pd.DataFrame(data2)

In [122]:
df2.to_csv('List.csv', index=True)

In [129]:
df2.rename_axis('Sno', inplace=True)

In [125]:
df2['Return_time'] = df2['Return_time'].str.replace('[^\d]', '', regex=True)

In [131]:
df2.head()

    Country_of_origin Return_time Size1 Size2 Size3 Size4 Occassion
Sno
0                              15    32    34    36    38   Festive
1                              15    32    34    36    38   Festive
2                              15    32    34    36    38   Festive
3                              15    32    34    36    38   Festive
4                              15    32    34    36    38   Festive

In [132]:
df2.to_csv('List2.csv', index=True)

In [133]:
df2.head()

    Country_of_origin Return_time Size1 Size2 Size3 Size4 Occassion
Sno
0                              15    32    34    36    38   Festive
1                              15    32    34    36    38   Festive
2                              15    32    34    36    38   Festive
3                              15    32    34    36    38   Festive
4                              15    32    34    36    38   Festive

In [10]:
#Extracting the second lot of records for Women
for url in product_url[101:305]:
    driver.get(url)
    time.sleep(1)
    

Brandname=[]
Category=[]
Producttype=[]
ProductName=[]
Productcode=[]
Price=[]
Weartype=[]
Materialtype=[]
Returntime=[]
reviews=[]
Countryoforigin=[]
reviews=[]
Occasion=[]
color1=[]
color2=[]
Size1=[]
Size2=[]
Size3=[]
Size4=[]

In [9]:
for url in product_url[101:301]:
    driver.get(url)
    time.sleep(2)
    
    
    try:
        Brand_name=driver.find_element(By.XPATH,"/html/body/div[1]/footer/div[1]/div[1]/div[3]/div/div/h2")
        Brandname.append(Brand_name.text)
    except NoSuchElementException:
        Brandname.append('--------')
   
    try:
        Cat=driver.find_element(By.XPATH,"/html/body/div[1]/footer/div[1]/div[1]/div[1]/div/ul/li[3]/a")
        Category.append(Cat.text)
    except NoSuchElementException:
        Category.append('--------')
        

    try:
        Product_type=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[9]/div/div/div/div/div[1]/div[2]/div/div/ul/li[1]/span")
        Producttype.append(Product_type.text)
    except NoSuchElementException:
        Producttype.append('--------')
        
    try:
        Product_Name=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[1]/div/h1")
        ProductName.append(Product_Name.text)
    except NoSuchElementException:
        ProductName.append("--------")
        
    try:
        button=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[9]/div/div/div/div/h2[4]")
        button.click()
        Product_code=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[9]/div/div/div/div/div[4]/div/ul/li[1]/span")
        Productcode.append(Product_code.text)
    except NoSuchElementException:
        Productcode.append("--------")
        
    try:
        Price_u=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[2]/div/div/div/div/span/span")
        Price.append(Price_u.text)
    except NoSuchElementException:
        Price.append("--------")

In [10]:
len(Brandname), len(Category), len(Producttype), len(ProductName), len(Productcode), len(Price)

(200, 200, 200, 200, 200, 200)

In [11]:
data_n = {
    'Brand': Brandname,
    'Category': Category,
    'Product_type': Producttype,
    'Product_Name': ProductName,
    'Product_code': Productcode,
    'Price': Price
    }

In [12]:
df3 = pd.DataFrame(data_n)

In [15]:
df3.rename_axis('Sno',inplace=True)

In [16]:
df3['Category'] = df3['Category'].str.replace('Biba Girls', 'Women', regex=True)

In [17]:
df3['Brand'] = df3['Brand'].str.replace('BIBA BRAND', 'BIBA', regex=True)

In [18]:
df3.to_csv('List3.csv', index=True)

In [19]:
df3.head()

,Brand,Category,Product_type,Product_Name,Product_code,Price
Sno,,,,,,
0,BIBA,Women,Kurta,OFF WHITE POLYESTER STRAIGHT KURTA SET,2PCSSET2494SS24OWHT,"₹3,599"
1,BIBA,Women,Kurta,BEIGE RAYON ASYMMETRIC SUIT SET,SKDAZTEC9367SS24BEG,"₹4,995"
2,BIBA,Women,Kurta,DARK GREEN VOILE ANARKALI KURTA PANT SUIT SET,SKDCHARMING7480EAW23DGRN,"₹4,995"
3,BIBA,Women,Kurta,OFF WHITE COTTON ANARKALI SUIT SET,SKDSMERBREZ9410SS24OWHT,"₹4,995"
4,BIBA,Women,Kurta,MANGO POLYESTER STRAIGHT SUIT SET,SKD9604SS24MANG,"₹4,999"

In [14]:
for url in product_url[101:203]:
    driver.get(url)
    time.sleep(2)
    

    try:
        button=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[9]/div/div/div/div/h2[4]")
        button.click()
        Wear_type=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[9]/div/div/div/div/div[4]/div/ul/li[6]/span")
        Weartype.append(Wear_type.text)
    except NoSuchElementException:
        Weartype.append('--------')
   
    try:
        Material_type=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[9]/div/div/div/div/div[1]/div[2]/div/div/ul/li[8]/span")
        Materialtype.append(Material_type.text)
    except NoSuchElementException:
        Materialtype.append('--------')
        
    try:
        Reviews=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div[2]/div/p")
        reviews.append(Reviews.text)
    except NoSuchElementException:
        reviews.append('--------')
        
    try:
        button=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[9]/div/div/div/div/h2[4]")
        button.click()
        Countryof_origin=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[9]/div/div/div/div/div[4]/div/ul/li[5]/span")
        Countryoforigin.append(Countryof_origin.text)
    except NoSuchElementException:
        Countryoforigin.append("--------")
        
    try:
        Return_time=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[8]/div/div/ul/li[2]/h3")
        Returntime.append(Return_time.text)
    except NoSuchElementException:
        Returntime.append("--------")
        
    try:
        color_1=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[3]/div[2]/div/div/div/a[1]/span[2]")
        color1.append(color_1.text)
    except NoSuchElementException:
        color1.append('--------')
        
    try:
        color_2=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[3]/div[2]/div/div/div/a[2]/span[2]")
        color2.append(color_2.text)
    except NoSuchElementException:
        color2.append("--------")
        
    try:
        Size_1=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[3]/div[3]/div/div/div/div[2]/div/div/a[1]")
        Size1.append(Size_1.text)
    except NoSuchElementException:
        Size1.append("--------")
   
    try:
        Size_2=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[3]/div[3]/div/div/div/div[2]/div/div/a[3]")
        Size2.append(Size_2.text)
    except NoSuchElementException:
        Size2.append("--------")
        
    try:
        Size_3=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[3]/div[3]/div/div/div/div[2]/div/div/a[5]")
        Size3.append(Size_3.text)
    except NoSuchElementException:
        Size3.append("--------")
        
    try:
        Size_4=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[3]/div[3]/div/div/div/div[2]/div/div/a[7]")
        Size4.append(Size_4.text)
    except NoSuchElementException:
        Size4.append("--------")
        
    try:
        occasion=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[8]/div/div/ul/li[3]/h3")
        Occasion.append(occasion.text)
    except NoSuchElementException:
        Occasion.append("--------")

In [15]:
len(Weartype), len(Materialtype), len(reviews), len(Countryoforigin), len(Returntime), len(color1), len(color2), len(Size1), len(Size2), len(Size3), len(Size4), len(Occasion)

(102, 102, 102, 102, 102, 102, 102, 102, 102, 102, 102, 102)

In [16]:
datan = {
    'Wear_type': Weartype,
    'Material_type': Materialtype,
    'Reviews': reviews,
    'color1': color1,
    'color2': color2
     }

In [17]:
df4 = pd.DataFrame(datan)

In [18]:
df4.rename_axis('Sno', inplace=True)

In [19]:
df4.to_csv('List4.csv', index=True)

In [20]:
df4.head()

,Wear_type,Material_type,Reviews,color1,color2
Sno,,,,,
0,"Kurta, Bottom, Dupatta",--------,"When it comes to ethnic wear for women, the on...",Dusty Pink,--------
1,"Kurta, Palazzo",,"When it comes to ethnic wear for women, the on...",Pink-Purple,Yellow
2,"Kurta, Palazzo",,"When it comes to ethnic wear for women, the on...",Lime Green,Turquoise
3,"Kurta, Palazzo",,"When it comes to ethnic wear for women, the on...",Lime Green,Turquoise
4,"Kurta, Palazzo",,"When it comes to ethnic wear for women, the on...",Pink-Purple,Yellow

In [34]:
data1n= {
    'Country_of_origin':Countryoforigin,
    'Return_time':Returntime,
    'Size1':Size1,
    'Size2':Size2,
    'Size3':Size3,
    'Size4':Size4,
    'Occassion':Occasion
    }

In [35]:
df5 = pd.DataFrame(data1n)

In [36]:
df5.rename_axis('Sno', inplace=True)

In [37]:
df5['Return_time'] = df5['Return_time'].str.replace('[^\d]', '', regex=True)

In [40]:
df5.to_csv('List5.csv', index=True)

In [41]:
df5

    Country_of_origin Return_time Size1 Size2 Size3 Size4 Occassion
Sno
0               India          15    34    36    38    42   Festive
1               India          15    32    34    36    38   Festive
2               India          15    32    34    36    38   Festive
3               India          15    32    34    36    38   Festive
4               India          15    32    34    36    38   Festive
..                ...         ...   ...   ...   ...   ...       ...
97              India          15    32    34    36    38   Festive
98              India          15    32    34    36    38   Festive
99              India          15    32    34    36    38   Festive
100             India          15    32    34    36    38   Festive
101             India          15    32    34    36    38   Festive

[102 rows x 7 columns]

In [42]:
for url in product_url[203:302]:
    driver.get(url)
    time.sleep(2)
    

    try:
        button=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[9]/div/div/div/div/h2[4]")
        button.click()
        Wear_type=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[9]/div/div/div/div/div[4]/div/ul/li[6]/span")
        Weartype.append(Wear_type.text)
    except NoSuchElementException:
        Weartype.append('--------')
   
    try:
        Material_type=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[9]/div/div/div/div/div[1]/div[2]/div/div/ul/li[8]/span")
        Materialtype.append(Material_type.text)
    except NoSuchElementException:
        Materialtype.append('--------')
        
    try:
        Reviews=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div[2]/div/p")
        reviews.append(Reviews.text)
    except NoSuchElementException:
        reviews.append('--------')
        
    try:
        button=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[9]/div/div/div/div/h2[4]")
        button.click()
        Countryof_origin=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[9]/div/div/div/div/div[4]/div/ul/li[5]/span")
        Countryoforigin.append(Countryof_origin.text)
    except NoSuchElementException:
        Countryoforigin.append("--------")
        
    try:
        Return_time=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[8]/div/div/ul/li[2]/h3")
        Returntime.append(Return_time.text)
    except NoSuchElementException:
        Returntime.append("--------")
        
    try:
        color_1=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[3]/div[2]/div/div/div/a[1]/span[2]")
        color1.append(color_1.text)
    except NoSuchElementException:
        color1.append('--------')
        
    try:
        color_2=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[3]/div[2]/div/div/div/a[2]/span[2]")
        color2.append(color_2.text)
    except NoSuchElementException:
        color2.append("--------")
        
    try:
        Size_1=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[3]/div[3]/div/div/div/div[2]/div/div/a[1]")
        Size1.append(Size_1.text)
    except NoSuchElementException:
        Size1.append("--------")
   
    try:
        Size_2=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[3]/div[3]/div/div/div/div[2]/div/div/a[3]")
        Size2.append(Size_2.text)
    except NoSuchElementException:
        Size2.append("--------")
        
    try:
        Size_3=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[3]/div[3]/div/div/div/div[2]/div/div/a[5]")
        Size3.append(Size_3.text)
    except NoSuchElementException:
        Size3.append("--------")
        
    try:
        Size_4=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[3]/div[3]/div/div/div/div[2]/div/div/a[7]")
        Size4.append(Size_4.text)
    except NoSuchElementException:
        Size4.append("--------")
        
    try:
        occasion=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div[2]/div[8]/div/div/ul/li[3]/h3")
        Occasion.append(occasion.text)
    except NoSuchElementException:
        Occasion.append("--------")

In [78]:
Weartype=Weartype[0:200]
Materialtype=Materialtype[0:200]
Returntime=Returntime[0:200]
Countryoforigin=Countryoforigin[0:200]
reviews=reviews[0:200]
Occasion=Occasion[0:200]
color1=color1[0:200]
color2=color2[0:200]
Size1=Size1[0:200]
Size2=Size2[0:200]
Size3=Size3[0:200]
Size4=Size4[0:200]

In [44]:
data2 = {
    'Wear_type': Weartype,
    'Material_type': Materialtype,
    'Reviews': reviews,
    'color1': color1,
    'color2': color2
     }

In [45]:
df6 = pd.DataFrame(data2)

In [46]:
df6.rename_axis('Sno',inplace=True)

In [47]:
df6.to_csv('List6.csv', index=True)

In [62]:
df6

,Wear_type,Material_type,Reviews,color1,color2
Sno,,,,,
0,"Kurta, Bottom, Dupatta",--------,"When it comes to ethnic wear for women, the on...",Dusty Pink,--------
1,"Kurta, Palazzo",,"When it comes to ethnic wear for women, the on...",Pink-Purple,Yellow
2,"Kurta, Palazzo",,"When it comes to ethnic wear for women, the on...",Lime Green,Turquoise
3,"Kurta, Palazzo",,"When it comes to ethnic wear for women, the on...",Lime Green,Turquoise
4,"Kurta, Palazzo",,"When it comes to ethnic wear for women, the on...",Pink-Purple,Yellow
...,...,...,...,...,...
196,"Kurta, Palazzo",,"When it comes to ethnic wear for women, the on...",Purple,--------
197,"Kurta, Inner, Palazzo",,"When it comes to ethnic wear for women, the on...",Yellow,--------
198,,,"When it comes to ethnic wear for women, the on...",Indigo,--------
199,"Kurta, Palazzo",,"When it comes to ethnic wear for women, the on...",Black,--------
200,"Kurta, Palazzo",,"When it comes to ethnic wear for women, the on...",Musturd Natural,--------

In [86]:
df_6= df6[0:200]

In [87]:
df_6

,Wear_type,Material_type,Reviews,color1,color2
Sno,,,,,
0,"Kurta, Bottom, Dupatta",--------,"When it comes to ethnic wear for women, the on...",Dusty Pink,--------
1,"Kurta, Palazzo",,"When it comes to ethnic wear for women, the on...",Pink-Purple,Yellow
2,"Kurta, Palazzo",,"When it comes to ethnic wear for women, the on...",Lime Green,Turquoise
3,"Kurta, Palazzo",,"When it comes to ethnic wear for women, the on...",Lime Green,Turquoise
4,"Kurta, Palazzo",,"When it comes to ethnic wear for women, the on...",Pink-Purple,Yellow
...,...,...,...,...,...
195,"Kurta, Palazzo",,"When it comes to ethnic wear for women, the on...",Green,--------
196,"Kurta, Palazzo",,"When it comes to ethnic wear for women, the on...",Purple,--------
197,"Kurta, Inner, Palazzo",,"When it comes to ethnic wear for women, the on...",Yellow,--------
198,,,"When it comes to ethnic wear for women, the on...",Indigo,--------
199,"Kurta, Palazzo",,"When it comes to ethnic wear for women, the on...",Black,--------

In [88]:
df_6.to_csv('List6.csv', index=True)

In [89]:
data=pd.read_csv('List6.csv')

In [64]:
data3= {
    'Country_of_origin':Countryoforigin,
    'Return_time':Returntime,
    'Size1':Size1,
    'Size2':Size2,
    'Size3':Size3,
    'Size4':Size4,
    'Occassion':Occasion
    }

In [66]:
df7 = pd.DataFrame(data3)

In [68]:
df7.rename_axis('Sno', inplace=True)

In [69]:
df7['Return_time'] = df7['Return_time'].str.replace('[^\d]', '', regex=True)

In [72]:
df7.to_csv('List7.csv', index=True)

In [73]:
df7

    Country_of_origin Return_time Size1 Size2 Size3 Size4 Occassion
Sno
0               India          15    34    36    38    42   Festive
1               India          15    32    34    36    38   Festive
2               India          15    32    34    36    38   Festive
3               India          15    32    34    36    38   Festive
4               India          15    32    34    36    38   Festive
..                ...         ...   ...   ...   ...   ...       ...
195             India          15    32    34    36    38   Festive
196             India          15    32    34    36    38   Festive
197             India          15    32    34    36    38   Festive
198             India          15    32    34    36    38   Festive
199             India          15    32    34    36    38   Festive

[200 rows x 7 columns]

In [24]:
DF1=pd.read_csv('List.csv')

In [25]:
DF1

,Sno,Brand,Category,Product_type,Product_Name,Product_code,Price
0,0,BIBA,Women,Kurta,LILAC POLYESTER STRAIGHT KURTA SET,2PCSSET2496SS24LILAC,"₹3,599"
1,1,BIBA,Women,Kurta,BLACK RAYON STRAIGHT KURTA SET,2PCSSET2416SS24BLK,"₹2,599"
2,2,BIBA,Women,Kurta,WHITE PINK RAYON GATHERED SUIT SET,SKDASSORTED7518SS24WHTPNK,"₹3,999"
3,3,BIBA,Women,Kurta,PEACH POLYESTER GATHERED SUIT SET,SKDIZNIK9391SS24PCH,"₹6,500"
4,4,BIBA,Women,Kurta,POWDER BLUE POLYESTER STRAIGHT SUIT SET,SKDRIVAYAT9537SS24PBLUE,"₹3,999"
...,...,...,...,...,...,...,...
95,95,BIBA,Women,Kurta,PINK-PURPLE RAYON STRAIGHT KURTA PALAZZO SUIT SET,SKD7451EAW23PNKPUR,"₹3,599"
96,96,BIBA,Women,Kurta,PINK POLYESTER A-LINE SUIT SET,SKDIKRANG9551SS24PNK,"₹6,995"
97,97,BIBA,Women,Kurta,YELLOW CAMBRIC FLARED KURTA PANT SUIT SET,SKDSKD8078EAW23YEL,"₹2,999"
98,98,BIBA,Women,Kurta,OFF WHITE COTTON ANARKALI SUIT SET,SKDSMERBREZ9410SS24OWHT,"₹4,995"
99,99,BIBA,Women,Kurta,MANGO POLYESTER STRAIGHT SUIT SET,SKD9604SS24MANG,"₹4,999"

In [26]:
DF2=pd.read_csv('List3.csv')

In [27]:
DF2

,Sno,Brand,Category,Product_type,Product_Name,Product_code,Price
0,0,BIBA,Women,Kurta,OFF WHITE POLYESTER STRAIGHT KURTA SET,2PCSSET2494SS24OWHT,"₹3,599"
1,1,BIBA,Women,Kurta,BEIGE RAYON ASYMMETRIC SUIT SET,SKDAZTEC9367SS24BEG,"₹4,995"
2,2,BIBA,Women,Kurta,DARK GREEN VOILE ANARKALI KURTA PANT SUIT SET,SKDCHARMING7480EAW23DGRN,"₹4,995"
3,3,BIBA,Women,Kurta,OFF WHITE COTTON ANARKALI SUIT SET,SKDSMERBREZ9410SS24OWHT,"₹4,995"
4,4,BIBA,Women,Kurta,MANGO POLYESTER STRAIGHT SUIT SET,SKD9604SS24MANG,"₹4,999"
...,...,...,...,...,...,...,...
195,195,BIBA,Women,Kurta,BLACK COTTON STRAIGHT KURTA PALAZZO SUIT SET,SKDDABU9028AW23BLK,"₹4,999"
196,196,BIBA,Women,Kurta,MEGANTA VISCOSE BROCADE ANARKALI KURTA FLARED ...,SKDTHEGOLD8966AW23MGT,"₹12,900"
197,197,BIBA,Women,Kurta,CHARCOAL COTTON ANARKALI PRINTED KURTA RELAXED...,SKDIKATSTO8991AW23CHAR,"₹5,995"
198,198,BIBA,Women,Kurta,FUCHSIA POLY COTTON STRAIGHT KURTA PANT SUIT SET,SKDASRTD8907AW23FUS,"₹3,999"
199,199,BIBA,Women,Kurta,ROHIT BAL IVORY COTTON SILK STRAIGHT PRINTED S...,CKD9490AW23IVRY,"₹12,950"

In [28]:
Biba_W1= pd.concat([DF1, DF2], ignore_index=True)

In [30]:
Biba_W1.to_csv('Biba_W1.csv', index=True)

In [33]:
DF3=pd.read_csv('List1.csv')

In [34]:
DF3

,Sno,Wear_type,Material_type,Reviews,color1,color2
0,0,"Kurta, Pant, Dupatta",NaN,"When it comes to ethnic wear for women, the on...",Brick Red,--------
1,1,"Kurta, Palazzo, Stole",--------,"When it comes to ethnic wear for women, the on...",Blush Pink,Powder Blue
2,2,"Kurta, Palazzo, Dupatta",--------,"When it comes to ethnic wear for women, the on...",Light Green,--------
3,3,"Kurta, Pant, Dupatta",NaN,"When it comes to ethnic wear for women, the on...",Brick Red,--------
4,4,"Kurta, Pant, Dupatta",NaN,"When it comes to ethnic wear for women, the on...",Brick Red,--------
...,...,...,...,...,...,...
95,95,"Kurta, Churidar, Dupatta",NaN,"When it comes to ethnic wear for women, the on...",Violet,Red
96,96,"Kurta, Palazzo, Dupatta",--------,"When it comes to ethnic wear for women, the on...",Beige,Turquoise
97,97,NaN,--------,"When it comes to ethnic wear for women, the on...",Ice Blue,Pink
98,98,NaN,--------,"When it comes to ethnic wear for women, the on...",White Grey,--------
99,99,NaN,--------,"When it comes to ethnic wear for women, the on...",Blush Pink,Powder Blue

In [39]:
DF4=pd.read_csv('List6.csv')

In [40]:
DF4

,Sno,Wear_type,Material_type,Reviews,color1,color2
0,0,"Kurta, Bottom, Dupatta",--------,"When it comes to ethnic wear for women, the on...",Dusty Pink,--------
1,1,"Kurta, Palazzo",NaN,"When it comes to ethnic wear for women, the on...",Pink-Purple,Yellow
2,2,"Kurta, Palazzo",NaN,"When it comes to ethnic wear for women, the on...",Lime Green,Turquoise
3,3,"Kurta, Palazzo",NaN,"When it comes to ethnic wear for women, the on...",Lime Green,Turquoise
4,4,"Kurta, Palazzo",NaN,"When it comes to ethnic wear for women, the on...",Pink-Purple,Yellow
...,...,...,...,...,...,...
195,195,"Kurta, Palazzo",NaN,"When it comes to ethnic wear for women, the on...",Green,--------
196,196,"Kurta, Palazzo",NaN,"When it comes to ethnic wear for women, the on...",Purple,--------
197,197,"Kurta, Inner, Palazzo",NaN,"When it comes to ethnic wear for women, the on...",Yellow,--------
198,198,NaN,NaN,"When it comes to ethnic wear for women, the on...",Indigo,--------
199,199,"Kurta, Palazzo",NaN,"When it comes to ethnic wear for women, the on...",Black,--------

In [41]:
Biba_W2=pd.concat([DF3, DF4], ignore_index=True)

In [42]:
Biba_W2.to_csv('Biba_W2.csv', index=True)

In [43]:
Biba_W2

,Sno,Wear_type,Material_type,Reviews,color1,color2
0,0,"Kurta, Pant, Dupatta",NaN,"When it comes to ethnic wear for women, the on...",Brick Red,--------
1,1,"Kurta, Palazzo, Stole",--------,"When it comes to ethnic wear for women, the on...",Blush Pink,Powder Blue
2,2,"Kurta, Palazzo, Dupatta",--------,"When it comes to ethnic wear for women, the on...",Light Green,--------
3,3,"Kurta, Pant, Dupatta",NaN,"When it comes to ethnic wear for women, the on...",Brick Red,--------
4,4,"Kurta, Pant, Dupatta",NaN,"When it comes to ethnic wear for women, the on...",Brick Red,--------
...,...,...,...,...,...,...
295,195,"Kurta, Palazzo",NaN,"When it comes to ethnic wear for women, the on...",Green,--------
296,196,"Kurta, Palazzo",NaN,"When it comes to ethnic wear for women, the on...",Purple,--------
297,197,"Kurta, Inner, Palazzo",NaN,"When it comes to ethnic wear for women, the on...",Yellow,--------
298,198,NaN,NaN,"When it comes to ethnic wear for women, the on...",Indigo,--------
299,199,"Kurta, Palazzo",NaN,"When it comes to ethnic wear for women, the on...",Black,--------

In [44]:
DF5=pd.read_csv('List2.csv')

In [45]:
DF5

    Sno Country_of_origin  Return_time  Size1  Size2  Size3  Size4 Occassion
0     0               NaN           15     32     34     36     38   Festive
1     1               NaN           15     32     34     36     38   Festive
2     2               NaN           15     32     34     36     38   Festive
3     3               NaN           15     32     34     36     38   Festive
4     4               NaN           15     32     34     36     38   Festive
..  ...               ...          ...    ...    ...    ...    ...       ...
95   95               NaN           15     32     34     36     38   Festive
96   96               NaN           15     32     34     36     38   Festive
97   97               NaN           15     32     34     36     38   Festive
98   98               NaN           15     32     34     36     38   Festive
99   99             India           15     32     34     36     38   Festive

[100 rows x 8 columns]

In [46]:
DF6=pd.read_csv('List7.csv')

In [47]:
DF6

     Sno Country_of_origin  Return_time  Size1  Size2  Size3 Size4 Occassion
0      0             India           15     34     36     38    42   Festive
1      1             India           15     32     34     36    38   Festive
2      2             India           15     32     34     36    38   Festive
3      3             India           15     32     34     36    38   Festive
4      4             India           15     32     34     36    38   Festive
..   ...               ...          ...    ...    ...    ...   ...       ...
195  195             India           15     32     34     36    38   Festive
196  196             India           15     32     34     36    38   Festive
197  197             India           15     32     34     36    38   Festive
198  198             India           15     32     34     36    38   Festive
199  199             India           15     32     34     36    38   Festive

[200 rows x 8 columns]

In [48]:
Biba_W3=pd.concat([DF5, DF6],ignore_index=True)

In [49]:
Biba_W3.to_csv('Biba_W3.csv', index=True)

In [50]:
Biba_W3

     Sno Country_of_origin  Return_time  Size1  Size2  Size3 Size4 Occassion
0      0               NaN           15     32     34     36    38   Festive
1      1               NaN           15     32     34     36    38   Festive
2      2               NaN           15     32     34     36    38   Festive
3      3               NaN           15     32     34     36    38   Festive
4      4               NaN           15     32     34     36    38   Festive
..   ...               ...          ...    ...    ...    ...   ...       ...
295  195             India           15     32     34     36    38   Festive
296  196             India           15     32     34     36    38   Festive
297  197             India           15     32     34     36    38   Festive
298  198             India           15     32     34     36    38   Festive
299  199             India           15     32     34     36    38   Festive

[300 rows x 8 columns]